*{

padding: 0;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

body{

display: flex;
min-height: 100vh;
align-items: center;
justify-content: center;
background-image: url(./imgprojeto/img.jpg);
background-repeat: no-repeat;
background-size: cover;
background-color: #f4f7f6;

}

h1 {

margin-bottom: 25px;

}



.conteudo {


max-width: 400px;
width: 90%;
padding: 32px;
background-color: #ffffff;
border-radius: 13px;
box-shadow: 0 6px 17px rgba( 0, 0, 0, 0.1);
text-align: center;

}
.input-grupo{

margin-bottom: 20px;
text-align: left;
}

label{

display: block;
margin-bottom: 7px;
font-weight: bold;
color: #333;

}

input[type="number"] {

width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 8px;
font-size: 18px;
text-align: right;

}
#btn-calcular {


width: 100%;
padding: 13px;
background-color:  #2ecc71;
color: white;
border: none;
border-radius: 7px;
cursor: pointer;
font-size: 17px;
transition: background-color 0.3s;

}

#btn-calcular:hover {

    background-color: #27ae60;

}

.resultados {

margin-top: 21px;
padding: 17px;
background-color: #ecf0f1;
border-radius: 8px;

}

.resultados span {

font-weight: bold;
color:  #2c3e50;
display: inline-block;
margin-left: 11px;

}


